:root {
  --bg: #fff7ed;
  --primary: #ff8c38;
  --accent: #ffcc8d;
  --textLight: #ffffff;
  --textDark: #161616;
  --accentDark: #000000;
  --accentPrimary: #d36c22;
  --btnOrange: #e17654;
  --btnGreen: #115e59;
  --selection: #ffead0;
  --footer: #252525;
  --footerText: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5% /* 1rem = 10px */;
}

body {
  margin: auto;
  background: var(--bg);
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  margin: auto;
  width: 70%;
}

a {
  text-decoration: none;
  color: var(--textDark);
  font-weight: 500;
  border-bottom: 0.1rem solid transparent;
  transition: 0.4s;
}

a:hover {
  color: var(--accentDark);
  /* font-weight: 00; */
  border-bottom: 0.1rem solid var(--accentDark);
  transition: all 0.4s;
}

.btn {
  color: var(--textLight);
  text-align: center;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.4s;
}

.btn:hover {
  transition: all 0.4s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

#logo {
  width: 10%;
}

#logo img {
  width: 100%;
}

.pageNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.pageNav a {
  padding: 0.5rem;
}
footer {
  background: var(--footer);
  color: var(--footerText);
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  height: 100%;
  font-weight: 500;
}
