:root {
  --bg: #fff7ed;
  --primary: #ff8c38;
  --accent: #ffcc8d;
  --textLight: #ffffff;
  --textDark: #161616;
  --accentDark: #000000;
  --btnOrange: #e17654;
  --btnGreen: #115e59;
  --selection: #ffcc8d;
  --footer: #252525;
  --footerText: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% /* 1rem = 10px */;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}

#root {
  margin: auto;
  width: 85%;
}
